<div id="root">
</div>

{% schema %}
  {
    "name": "EVI",
    "javascript": "index-BmyqMXvu.js",
    "stylesheet": "index-D1bkR42y.css",
    "target": "body",
    "settings": []
  }
{% endschema %}
