/* Load fonts
 * INFO: workaround for not working preset-web-fonts, see ../vite.config.ts
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.App {
  font-family: Inter, sans-serif;
  font-weight: 500;
  min-height: 4vmin;
  top: 14vh;
  right: 0;
  position: fixed;
  overflow: hidden;
  z-index: 90;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: white;
}

.verificationDetails {
  cursor: pointer;
  min-height: 20vmax;
  /* min-width: 20vmax; */
}

.verificationDetailsIcon {
  cursor: pointer;
  height: 20vmin;
}

.verificationStatus {
  cursor: pointer;
  height: 4vmin;
}

.verificationStatusIcon {
  height: 4vmin;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
