.App {
  font-family: Inter;
  font-weight: 500;
  /* text-align: center; */
  min-height: 4vmin;
  /* max-height: 20vmax; */
  top: 14vh;
  right: 0;
  position: fixed;
  overflow: hidden;
  /* background-color: #282c34; */
  /* background-color: transparent; */
  z-index: 90;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: white;
}

.verificationDetails {
  cursor: pointer;
  min-height: 20vmax;
  /* min-width: 20vmax; */
}

.verificationDetailsIcon {
  cursor: pointer;
  height: 20vmin;
}

.verificationStatus {
  cursor: pointer;
  height: 4vmin;
}

.verificationStatusIcon {
  /* animation: logo-spin infinite 20s linear; */
  height: 4vmin;
  /* height: 100%; */
  /* pointer-events: none; */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
